h1 {
  color: rgb(91, 145, 193);
}

.os{
color: rgb(28, 129, 73);
}
#os{
color: #b11aac;
}


body{
    background-image: url(download.png);
    background-repeat:no-repeat ;
    background-attachment:fixed ;
    background-size: cover;
}