*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
    color: white;
}
.navbarheader{
    margin-left: 220px;
}
.side-nav {
    position: fixed;
    top: 60px;
    left: 0;
    width: 200px;
    background-color: #2c2b2b;
    height: 100%;
    padding-top: 20px;
  }
  .side-nav ul li {
    padding: 15px 20px;
  }
  
  .side-nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
  }
  
body{
    background-color:  rgba(33, 33, 33, .9);
}

     h1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 90vw;
  
        margin-top: 100px;
        margin-left: 250px;
      
    }
.searchbody{
    
align-items: center;
justify-content: center;
display: flex;
flex-wrap: wrap;
  max-width: 90vw;
  

  
    margin-left: 250px;
}
textarea{
    height: 100px;
    width: 400px;
    margin-top: 20px;
}
.btn{
    display: flex;
    
    width: 100vw;
    height: 30px;
    gap: 20PX;
    margin-left: 400px;

    margin-top: 20px;
}