* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background: none;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  background: #222;
}

.main {
  display: flex;
  height: 100vh;
  width: 100%;
  
}

.side {
  display: flex;
  height: 100%;
}

.small-sidebar {
  width: 60px;
  background: #111;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 15px;
  max-width: 40px;
}
.icon{
  font-size: 18px;
  padding: 10px;
}

  .large-sidebar {
    width: 300px;
    background: #1a1a1a;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-shrink: 0;
  }
.headchats{
  display: flex;
  justify-content: space-between;
  height: 30px;
  padding-top: 10px;
}

.chat-list {
  flex: 1;
  overflow-y: auto;
}

.chat-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  border-bottom: 1px solid #444;
  cursor: pointer;
}

.chat-item img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.flex-colom {
  display: flex;
  justify-content: space-between;
  gap: 135px;
}
.flex-row {
  display: flex;
  justify-content: space-between;
}


.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  gap: 30px;
  padding: 10px;
  background-color:#333333;
  align-items: center;
}

nav img {
  width: 40px;
  border-radius: 50%;
}

.chat-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
  background: url("media/ts7vuoswhwf41.webp") no-repeat center center/cover;
}

.sent,
.received {
  width: fit-content;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  max-width: 80%;
}

.sent {
  background-color: #005c4b;
  align-self: flex-end;
  border-bottom-right-radius: 0;
}

.received {
  background-color: rgb(43, 46, 43);
  align-self: flex-start;
  border-bottom-left-radius: 0;
}
.massage-content{
  display: flex;
  justify-content: space-between;
   
}

textarea{
  width: 200px;
  border-radius: 15px;
  display: flex;
  flex: 4;
  height: 40px;
}